.grid {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin: 100px;
    width: auto;
    height: 700px;
    width: 700px;
    border: 2px;
    border-style: solid;
}

.line {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-grow: 1;
}

.box {
    flex: auto;
    flex-grow: 1;
    border: 1px;
    
}

.box:hover {
    background-color: gray;
}

.clicked {
    background-color: black;
}

button {
    align-self: center;
}